.header {
  border-bottom: 1px solid #f2f4f7;
  background: #f7f7f7;
  position: sticky;
  top: 0;
  z-index: 50;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 28px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
  text-decoration: none;
  position: absolute;
  left: 0;
  margin-left: 64px;
}

.logoAccent {
  color: var(--color-text-muted);
}

.nav {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.navLink {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.15s ease;
}

.navLink:hover {
  color: #829b91;
}

.active {
  color: #829b91;
}
