.gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainSwiper {
  width: 638px;
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.mainImage {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 10;
  object-fit: cover;
  border-radius: 17px;
  margin-bottom: 27px;
}

.thumbSwiper {
  max-width: 219%;
}

.thumbImage {
  width: 136px;
  height: 144px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: var(--radius-sm);
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.15s ease;
}

:global(.swiper-slide-thumb-active) .thumbImage {
  opacity: 1;
  outline: 3px solid #829b91;
}
